<!DOCTYPE html>
<html lang=en>
	<meta charset=utf-8>
	<title>Code Story - {{ page.title }}</title>
	<link type='image/png' rel='shortcut icon' href='fusee-16x16.png'/>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	<link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen'>
    <link rel="alternate" type="application/atom+xml" title="CodeStory Atom Feed" href="http://code-story.net/atom.xml" />
	<body>
		<div id="header">
			<a href="/index.html"></a>
		</div>
		<div id="main">
			{{ content }}
		</div>
	</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27949651-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="js/jquery.js"></script>
<script src="js/codestory.js"></script>
</html>
