---
layout: default
---
<div id="post">
	<a href="/index.html" title="Index Code Story"><img class="logo" src="/images/logo.png" alt="Code Story Blog" width="596" height="202" /></a>
	<h1>{{ page.title }}</h1>
	<h3>{{ page.date | date: "%d/%m/%Y" }}</h3>
	<div class="plusone"><div class="g-plusone"></div></div>
	{{ content }}
	<p><em><a href="mailto:qualif@code-story.net">David & Jean-Laurent</a></em></p>
</div>

<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>