---
layout: default
---

<div id="post_background">
<div id="post">
	<h1>{{ page.title }}</h1>
	<h3>{{ page.date | date: "%d/%m/%Y" }}</h3>
	<div class="plusone"><div class="g-plusone"></div></div>
	<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://code-story.net/"></a>
	<noscript><a href="http://flattr.com/thing/1121469/CodeStory" target="_blank">
	<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
	{{ content }}
	<p><em><a href="mailto:qualif@code-story.net">David, Eric, Jean-Laurent &amp; S&eacute;bastian</a></em></p>
	<div id="disqus_thread"></div>
</div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'codestory';
    var disqus_url = 'http://code-story.net{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>